*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.global_content{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

.backpattern{
    grid-row-start: 1;
    grid-column-start: 1;
    display:grid;
    grid-template-columns: 16px repeat(17, 32px) 16px;
    grid-template-rows: 6px repeat(13, 32px) 6px;
    grid-gap: 4px;
}

.conteneur_bct, .conteneur_bcl, .conteneur_bcr, .conteneur_bcb, .conteneur_gcm, .conteneur_wct, .conteneur_wcb, .conteneur_wcl, .conteneur_wcr, .conteneur_colored_cells{
    display: contents;
}
.conteneur_bct div, .conteneur_bcl div, .conteneur_bcr div, .conteneur_bcb div{background-color: black;}
.conteneur_wct div, .conteneur_wcb div, .conteneur_wcl div, .conteneur_wcr div{background-color: white;}
.conteneur_gcm div{background-color: #808080;}


/* ---------- BLACK CELLS AROUND ---------- */
.conteneur_bct div:nth-child(1){grid-column-start: 2; grid-row-start: 1;}
.conteneur_bct div:nth-child(2){grid-column-start: 4; grid-row-start: 1;}
.conteneur_bct div:nth-child(3){grid-column-start: 6; grid-row-start: 1;}
.conteneur_bct div:nth-child(4){grid-column-start: 8; grid-row-start: 1;}
.conteneur_bct div:nth-child(5){grid-column-start: 10; grid-row-start: 1;}
.conteneur_bct div:nth-child(6){grid-column-start: 12; grid-row-start: 1;}
.conteneur_bct div:nth-child(7){grid-column-start: 14; grid-row-start: 1;}
.conteneur_bct div:nth-child(8){grid-column-start: 16; grid-row-start: 1;}
.conteneur_bct div:nth-child(9){grid-column-start: 18; grid-row-start: 1;}

.conteneur_bcb div:nth-child(1){grid-column-start: 2; grid-row-end: -1;}
.conteneur_bcb div:nth-child(2){grid-column-start: 4; grid-row-end: -1;}
.conteneur_bcb div:nth-child(3){grid-column-start: 6; grid-row-end: -1;}
.conteneur_bcb div:nth-child(4){grid-column-start: 8; grid-row-end: -1;}
.conteneur_bcb div:nth-child(5){grid-column-start: 10; grid-row-end: -1;}
.conteneur_bcb div:nth-child(6){grid-column-start: 12; grid-row-end: -1;}
.conteneur_bcb div:nth-child(7){grid-column-start: 14; grid-row-end: -1;}
.conteneur_bcb div:nth-child(8){grid-column-start: 16; grid-row-end: -1;}
.conteneur_bcb div:nth-child(9){grid-column-start: 18; grid-row-end: -1;}

.conteneur_bcl div:nth-child(1){grid-column-start: 1; grid-row-start: 2;}
.conteneur_bcl div:nth-child(2){grid-column-start: 1; grid-row-start: 4;}
.conteneur_bcl div:nth-child(3){grid-column-start: 1; grid-row-start: 6;}
.conteneur_bcl div:nth-child(4){grid-column-start: 1; grid-row-start: 8;}
.conteneur_bcl div:nth-child(5){grid-column-start: 1; grid-row-start: 10;}
.conteneur_bcl div:nth-child(6){grid-column-start: 1; grid-row-start: 12;}
.conteneur_bcl div:nth-child(7){grid-column-start: 1; grid-row-start: 14;}

.conteneur_bcr div:nth-child(1){grid-column-end: -1; grid-row-start: 2;}
.conteneur_bcr div:nth-child(2){grid-column-end: -1; grid-row-start: 4;}
.conteneur_bcr div:nth-child(3){grid-column-end: -1; grid-row-start: 6;}
.conteneur_bcr div:nth-child(4){grid-column-end: -1; grid-row-start: 8;}
.conteneur_bcr div:nth-child(5){grid-column-end: -1; grid-row-start: 10;}
.conteneur_bcr div:nth-child(6){grid-column-end: -1; grid-row-start: 12;}
.conteneur_bcr div:nth-child(7){grid-column-end: -1; grid-row-start: 14;}


/* ---------- WHITE CELLS AROUND ---------- */
.conteneur_wct div:nth-child(1){grid-column-start: 1; grid-row-start: 1;}
.conteneur_wct div:nth-child(2){grid-column-start: 3; grid-row-start: 1;}
.conteneur_wct div:nth-child(3){grid-column-start: 5; grid-row-start: 1;}
.conteneur_wct div:nth-child(4){grid-column-start: 7; grid-row-start: 1;}
.conteneur_wct div:nth-child(5){grid-column-start: 9; grid-row-start: 1;}
.conteneur_wct div:nth-child(6){grid-column-start: 11; grid-row-start: 1;}
.conteneur_wct div:nth-child(7){grid-column-start: 13; grid-row-start: 1;}
.conteneur_wct div:nth-child(8){grid-column-start: 15; grid-row-start: 1;}
.conteneur_wct div:nth-child(9){grid-column-start: 17; grid-row-start: 1;}
.conteneur_wct div:nth-child(10){grid-column-start: 19; grid-row-start: 1;}

.conteneur_wcb div:nth-child(1){grid-column-start: 1; grid-row-end: -1;}
.conteneur_wcb div:nth-child(2){grid-column-start: 3; grid-row-end: -1;}
.conteneur_wcb div:nth-child(3){grid-column-start: 5; grid-row-end: -1;}
.conteneur_wcb div:nth-child(4){grid-column-start: 7; grid-row-end: -1;}
.conteneur_wcb div:nth-child(5){grid-column-start: 9; grid-row-end: -1;}
.conteneur_wcb div:nth-child(6){grid-column-start: 11; grid-row-end: -1;}
.conteneur_wcb div:nth-child(7){grid-column-start: 13; grid-row-end: -1;}
.conteneur_wcb div:nth-child(8){grid-column-start: 15; grid-row-end: -1;}
.conteneur_wcb div:nth-child(9){grid-column-start: 17; grid-row-end: -1;}
.conteneur_wcb div:nth-child(10){grid-column-start: 19; grid-row-end: -1;}

.conteneur_wcl div:nth-child(1){grid-column-start: 1; grid-row-start: 3;}
.conteneur_wcl div:nth-child(2){grid-column-start: 1; grid-row-start: 5;}
.conteneur_wcl div:nth-child(3){grid-column-start: 1; grid-row-start: 7;}
.conteneur_wcl div:nth-child(4){grid-column-start: 1; grid-row-start: 9;}
.conteneur_wcl div:nth-child(5){grid-column-start: 1; grid-row-start: 11;}
.conteneur_wcl div:nth-child(6){grid-column-start: 1; grid-row-start: 13;}

.conteneur_wcr div:nth-child(1){grid-column-end: -1; grid-row-start: 3;}
.conteneur_wcr div:nth-child(2){grid-column-end: -1; grid-row-start: 5;}
.conteneur_wcr div:nth-child(3){grid-column-end: -1; grid-row-start: 7;}
.conteneur_wcr div:nth-child(4){grid-column-end: -1; grid-row-start: 9;}
.conteneur_wcr div:nth-child(5){grid-column-end: -1; grid-row-start: 11;}
.conteneur_wcr div:nth-child(6){grid-column-end: -1; grid-row-start: 13;}


/* ---------- colored cells ---------- */
.conteneur_colored_cells div:nth-child(1){
    grid-row:3/5;
    grid-column:3/5;
    background-color: #507ae9;
}
.conteneur_colored_cells div:nth-child(2){
    grid-row:-3/-5;
    grid-column:3/5;
    background-color: #a47a0c;
}
.conteneur_colored_cells div:nth-child(3){
    grid-row:3/-3;
    grid-column:3/4;
    background-image: linear-gradient(
        to bottom,
        #369d7a,
        #369d7a 50%,
        #be587a 50%,
        #be587a);
}

.conteneur_colored_cells div:nth-child(4){
    grid-row:3/5;
    grid-column:-3/-5;
    background-color: #507ae9;
}
.conteneur_colored_cells div:nth-child(5){
    grid-row:-3/-5;
    grid-column:-3/-5;
    background-color: #a47a0c;
}
.conteneur_colored_cells div:nth-child(6){
    grid-row:3/-3;
    grid-column:-3/-4;
    background-image: linear-gradient(
        to bottom,
        #7a9201,
        #7a9201 50%,
        #7a63f3 50%,
        #7a63f3);
}



/* ---------- PATTERN CIRCULAIRE CENTRAL ---------- */
.circlepattern{
    clip-path: circle(38.5%);
    grid-row-start: 1;
    grid-column-start: 1;
    display:grid;
    grid-template-columns: 18px repeat(17, 36px) 18px;
    grid-template-rows: 8px repeat(13, 36px) 8px;
}
.displaycontents{
    display: contents;
}

.intraconteneur{
    grid-area:2/2/-2/-2;
    display: grid;
    grid-template-columns: repeat(17, 36px);
    grid-template-rows: repeat(13, 36px);
}

.geof{
    grid-area:1/1/2/-1;
    background-color: white;
}
.charly{
    grid-area:2/1/3/-1;
    display: grid;
    grid-template-columns: 6.5fr 4fr 6.5fr;
}
.charly > div:nth-child(even){background-color: black}
.charly > div:nth-child(odd){background-color: white}
.bob{
    grid-area:3/1/4/-1;
    display: grid;
    grid-template-columns: 5.5fr 0.5fr 4px 5.5fr 5.5fr;
}
.bob > div:nth-child(odd){background-color: black}
.bob > div:nth-child(even){background-color: white}
.bob > div:nth-child(1){grid-area:1/1/2/2;}
.bob > div:nth-child(2){grid-area:1/2/2/3;}
.bob > div:nth-child(3){grid-area:1/3/2/4;}
.bob > div:nth-child(4){grid-area:1/4/2/5;}
.bob > div:nth-child(5){grid-area:1/5/2/6;}

.alfred{
    grid-area:4/1/5/-1;
    background-image: repeating-linear-gradient(
        to right,
        black,
        black 26px,
        #bebec1 27px,
        #bebec1 52px
    )
}

.cmjrgb{
    grid-area:5/1/7/-1;
    display: grid;
    grid-template-columns: repeat(34, 18px);
}
.cmjrgb > div:nth-child(1){grid-column:span 9; background-color: #bfbf00}
.cmjrgb > div:nth-child(2){grid-column:span 4; background-color: #00bfbf}
.cmjrgb > div:nth-child(3){grid-column:span 4; background-color: #00bf00}
.cmjrgb > div:nth-child(4){grid-column:span 4; background-color: #bf00bf}
.cmjrgb > div:nth-child(5){grid-column:span 4; background-color: #bf0000}
.cmjrgb > div:nth-child(6){grid-column:span 9; background-color: #0000bf}

.straightgrid{
    grid-area:7/1/8/-1;
    display: grid;
    grid-template-columns: repeat(8, 32px) 36px repeat(8, 32px);
    grid-template-rows: 1fr 1fr;
    gap: 4px;
    background-color: white; 
}
.straightgrid > div{background-color: black}

.pita{
    grid-area:6/9/9/10;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 4px;
    background-color: white;
}
.pita > div{background-color: black}

.doppler{
    grid-area:8/1/10/-1;
    background-color: black;
    background-image: url("doppler.jpg");
    background-position: center;
    background-repeat: repeat-y;
}

.shadesofgrey{
    grid-area:10/1/11/-1;
    display: grid;
    grid-template-columns: repeat(34, 18px);
}
.shadesofgrey > div:nth-child(1){grid-column:span 9; background-color: black}
.shadesofgrey > div:nth-child(2){grid-column:span 4; background-color: #333333}
.shadesofgrey > div:nth-child(3){grid-column:span 4; background-color: #666666}
.shadesofgrey > div:nth-child(4){grid-column:span 4; background-color: #999999}
.shadesofgrey > div:nth-child(5){grid-column:span 4; background-color: #cccccc}
.shadesofgrey > div:nth-child(6){grid-column:span 9; background-color: white}

.falafel{
    grid-area:11/1/12/-1;
    display: grid;
    grid-template-columns: 5.5fr 0.5fr 4px 5.5fr 5.5fr;
}
.falafel > div:nth-child(even){background-color: black}
.falafel > div:nth-child(odd){background-color: white}
.falafel > div:nth-child(1){grid-area:1/1/2/2;}
.falafel > div:nth-child(2){grid-area:1/2/2/3;}
.falafel > div:nth-child(3){grid-area:1/3/2/4;}
.falafel > div:nth-child(4){grid-area:1/4/2/5;}
.falafel > div:nth-child(5){grid-area:1/5/2/6;}

.sauce{
    grid-area:12/1/14/-1;
    display: grid;
    grid-template-columns: 6.5fr 4fr 6.5fr;
}
.sauce > div:nth-child(odd){background-color: #bfbf00}
.sauce > div:nth-child(even){background-color: #bf0000}

@media (max-width:700px){
    body{
        transform: scale(0.7);
    }
}