@font-face{
    font-family: 'Bulky';
    src: url("/assets/fonts/Bulky.otf") format("opentype");
}
*{
    font-family: 'Open Sans';
    line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6{font-family: 'Montserrat'; text-transform: uppercase;}
h1{
    font-family: 'Bulky';
    text-align: center;
    font-size: 6em;
    color: gold;
    text-shadow: 5px 5px 0 black;
}
h3{background-color: gold; padding: 10px;}
h4{margin-bottom: 0;}
img{max-width: 100%;}
/* figure{margin-bottom: 0.8em;} */
figcaption{font-size: .8em; font-style: italic;}

.wrapper{
    max-width: 900px;
    margin: auto;
}
.emphase{color: brown}

.soussections{
    margin-bottom: 4rem;
}

.attention{font-style: italic;}
.attention::before{
    content: "";
    display: inline-block;
    margin-right: .5em;
    border-left: .5em  solid transparent;
    border-right: .5em  solid transparent;
    border-bottom: 1em solid brown;
}

.main{
    padding: 1rem; 
}

.liste-miseenligne > li {
    margin-bottom: 1em;
}

.footer{margin-bottom: 100px;}
.conteneur-quote{
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}
.xoxo, .footer blockquote footer{text-align: right;}
.footer blockquote footer{line-height: 3em;}